name: Check Yaml

on:
  pull_request:
    branches:
      - main
      - 'release/*'
    paths:
      - '.github/workflows/*.yaml'

permissions:
  contents: read

jobs:
  validate-github-actions-workflows:
    name: Validate GitHub Actions workflows
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Check for any changed workflows
        id: check-for-changed-workflows
        uses: tj-actions/changed-files@v46
        with:
          files: |
            .github/workflows/**.yaml
      - name: Validate workflows
        if: steps.check-for-changed-workflows.outputs.any_changed == 'true'
        uses: dsanders11/json-schema-validate-action@v1.3.0
        with:
          schema: https://json.schemastore.org/github-workflow.json
          files: .github/workflows/**.yaml 
