# Define workflow name.
name: MatrixOne CI

on:
  workflow_call:
    secrets:
      S3ENDPOINT:
        description: "S3ENDPOINT For Test"
        required: true
      S3REGION:
        description: "S3REGION For Test"
        required: true
      S3APIKEY:
        description: "S3APIKEY For Test"
        required: true
      S3APISECRET:
        description: "S3APISECRET For Test"
        required: true
      S3BUCKET:
        description: "S3BUCKET For Test"
        required: true
      EE_DB_ADDR:
        description: "matrixone cloud host"
        required: true
      EE_DB_PORT:
        description: "matrixone cloud port"
        required: true
      EE_DB_USER:
        description: "matrixone cloud user"
        required: true
      EE_DB_PASSWORD:
        description: "matrixone cloud password"
        required: true
      EE_DB_DB:
        description: "matrixone cloud db"
        required: true



jobs:
  ut-linux-x86:
    environment: ci
    runs-on: ubuntu-22.04
    name: UT Test on Ubuntu/x86
    steps:
      - name: Parse Time for moc
        id: time
        run: |
          export TZ='Asia/Shanghai'

          #utcTime="2024-11-15T08:33:52Z"
          action_time=${{ github.event.pull_request.head.repo.pushed_at }}
          ACTION_TIME=$(date -d "${action_time}" '+%Y-%m-%d %H:%M:%S')

          # 获取格式化的日期时间字符串
          time=$(date '+%Y-%m-%d %H:%M:%S')
          
          # action link
          action_link="https://github.com/${{ github.event.pull_request.base.repo.full_name }}/actions/runs/${{ github.run_id }}"
          
          echo "ACTION_TIME=${ACTION_TIME}"
          echo "START_TIME=${time}"
          echo "ACTION_LINK=${action_link}"
          
          echo "ACTION_TIME=${ACTION_TIME}" >> $GITHUB_OUTPUT
          echo "START_TIME=${time}" >> $GITHUB_OUTPUT
          echo "ACTION_LINK=${action_link}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
          fetch-depth: "3"
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@release/2.0-dev
        with:
          setup-java: false
      - name: Set env
        run: |
          echo "endpoint=${{ secrets.S3ENDPOINT }}" >> $GITHUB_ENV
          echo "region=${{ secrets.S3REGION }}" >> $GITHUB_ENV
          echo "apikey=${{ secrets.S3APIKEY }}" >> $GITHUB_ENV
          echo "apisecret=${{ secrets.S3APISECRET }}" >> $GITHUB_ENV
          echo "bucket=${{ secrets.S3BUCKET }}" >> $GITHUB_ENV
          # set ut workdir
          echo "UT_WORKDIR=${{ github.workspace }}" >> $GITHUB_ENV
      - name: Unit Testing
        id: ut
        run: |
          cd $GITHUB_WORKSPACE && make clean && make config
          make ut UT_PARALLEL=6 UT_TIMEOUT=40
      - name: Print Result(Old)
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $UT_WORKDIR;
          find scratch -name "**-UT-Count.out" -exec cat {} \+;
      - name: Print Skipped Tests
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $GITHUB_WORKSPACE;
          find ./ut-report -name skipped.txt -exec cat {} \+;
      - name: Print No Test Case Packages
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $GITHUB_WORKSPACE;
          find ./ut-report -name no-test.txt -exec cat {} \+;
      - name: Print Failed Packages and Tests
        id: failed
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $GITHUB_WORKSPACE;
          if [ "$(find ./ut-report/failed | wc -l)" -le "2" ]; then
            exit 0;
          fi
          find ./ut-report/failed -name result.txt -exec cat {} \;
          fail_ut_cases=''
          files=($(find ./ut-report/failed | grep -v result.txt))
          for file in "${files[@]}"; do
            if [ -d "$file" ]; then
              continue
            fi
            echo "============================================"
            cat "${file}";
            fail_ut_cases=${fail_ut_cases}$(basename "${file}")','
          done
          
          echo "steps.ut.conclusion: ${{ steps.ut.conclusion }}"
          echo "FAIL_UT_CASES=${fail_ut_cases}"
          echo "FAIL_UT_CASES=${fail_ut_cases}" >> $GITHUB_OUTPUT
      - name: Insert Failed UT Cases to MOC
        if: ${{ failure() }}
        uses: matrixorigin/CI/actions/fail-ut-case@main
        with:
          action_time: ${{ steps.time.outputs.ACTION_TIME }}
          ut_cases: ${{ steps.failed.outputs.FAIL_UT_CASES }}
          pr_link: ${{ github.event.pull_request.html_url }}
          action_link: ${{ steps.time.outputs.ACTION_LINK }}
          job_time: ${{ steps.time.outputs.START_TIME }}
          mo_host: ${{ secrets.EE_DB_ADDR }}
          mo_port: ${{ secrets.EE_DB_PORT }}
          mo_user: ${{ secrets.EE_DB_USER }}
          mo_password: ${{ secrets.EE_DB_PASSWORD }}
          mo_database: ${{ secrets.EE_DB_DB }}
      - name: Print the Top 10 Time-Consuming Tests
        if: ${{ always() }}
        continue-on-error: true
        run: |
          find ./ut-report -name top.txt -exec cat {} \;


  ut-mac-x86:
    #if: ${{ !github.event.pull_request.draft }}
    if: ${{ false }}
    environment: ci
    runs-on: macos-12
    name: UT Test on Darwin/x86

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "3"
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@release/2.0-dev
        with:
          setup-java: false
      - name: Set env
        run: |
          echo "endpoint=${{ secrets.S3ENDPOINT }}" >> $GITHUB_ENV
          echo "region=${{ secrets.S3REGION }}" >> $GITHUB_ENV
          echo "apikey=${{ secrets.S3APIKEY }}" >> $GITHUB_ENV
          echo "apisecret=${{ secrets.S3APISECRET }}" >> $GITHUB_ENV
          echo "bucket=${{ secrets.S3BUCKET }}" >> $GITHUB_ENV
          # set ut workdir
          echo "UT_WORKDIR=${{ github.workspace }}" >> $GITHUB_ENV
      - name: Unit Testing
        run: |
          cd $GITHUB_WORKSPACE && make clean && make config
          make ut UT_PARALLEL=6
      - name: Print Result
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd $UT_WORKDIR;
          find scratch -name "**-UT-Count.out" -exec cat {} \;

  sca:
    environment: ci
    runs-on: ubuntu-22.04
    name: SCA Test on Ubuntu/x86
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "3"
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: thiagodnf/yaml-schema-checker@v0.0.12
        name: Check Issue Template
        with:
          jsonSchemaFile: .github/ISSUE_TEMPLATE/schema.json
          yamlFiles: |
            .github/ISSUE_TEMPLATE/*.yml
            .github/ISSUE_TEMPLATE/*.yaml
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@release/2.0-dev
        with:
          setup-java: false
      - name: Prepare ENV
        run: |
          cd $GITHUB_WORKSPACE && make clean && make config && make build
          make install-static-check-tools
      - name: Static Code Analysis
        run: |
          cd $GITHUB_WORKSPACE
          make static-check
