name: MatrixOne e2e upgrade CI

on:
  workflow_call:
    inputs:
      release-repo:
        description: "release version"
        type: string
        default: "matrixorigin/matrixone"
        required: false

env:
  mo_reuse_enable_checker: true

jobs:
  upgrade-ci-target-linux-amd64:
    environment: ci
    runs-on: ubuntu-22.04
    name: Compatibility Test With Target on Linux/x64(LAUNCH)
    timeout-minutes: 60

    steps:
      - name: checkout head
        uses: actions/checkout@v6
        with:
          path: ./head
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: checkout upstream
        uses: actions/checkout@v6
        with:
          path: ./upstream
          repository: ${{ github.event.pull_request.base.repo.full_name }}
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Set up Go And Java
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          go-version-file: "${{ github.workspace }}/head/go.mod"

      - name: Add cn.txn for head
        run: |
          cd $GITHUB_WORKSPACE/head
          echo "[cn.txn]" >> ./etc/launch/cn.toml
          echo "  enable-leak-check = 1" >> ./etc/launch/cn.toml
          echo '  max-active-ages = "2m"'>> ./etc/launch/cn.toml

      - name: Build MatrixOne for head
        run: |
          cd $GITHUB_WORKSPACE/head && make clean && make build
          git rev-parse --short HEAD

      - name: Add cn.txn for upstream
        run: |
          cd $GITHUB_WORKSPACE/upstream
          echo "[cn.txn]" >> ./etc/launch/cn.toml
          echo "  enable-leak-check = 1" >> ./etc/launch/cn.toml
          echo '  max-active-ages = "2m"'>> ./etc/launch/cn.toml

      - name: Build MatrixOne for upstream
        run: |
          cd $GITHUB_WORKSPACE/upstream && make clean && make build          
          git rev-parse --short HEAD

      - name: Create path for execution
        run: |
          cd $GITHUB_WORKSPACE && mkdir workspace

      - name: Start the MO of Target Branch
        run: |
          cd $GITHUB_WORKSPACE/workspace
          mv $GITHUB_WORKSPACE/upstream/etc .
          mv $GITHUB_WORKSPACE/upstream/mo-service .
          mv $GITHUB_WORKSPACE/upstream/optools .
          if [ -d "$GITHUB_WORKSPACE/upstream/lib" ]; then
            mv $GITHUB_WORKSPACE/upstream/lib .
          fi

          ./optools/run_bvt.sh $GITHUB_WORKSPACE/workspace launch
          sleep 60;

      - name: Clone test-tool repository
        uses: actions/checkout@v6
        with:
          repository: matrixorigin/mo-tester
          path: ./mo-tester
          ref: main
      - name: Update BVT SQL Timeout
        run: |
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i "s/socketTimeout:.*/socketTimeout: 300000/g" mo.yml
      - name: Start BVT Test for Target Branch
        id: bvt_on_latest_main_version
        run: |
          export LC_ALL="C.UTF-8"
          locale
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i 's/  port: [0-9]*/  port: 12345/g' mo.yml
          cat mo.yml
          echo "============================="

          ./run.sh -n -g -o -p $GITHUB_WORKSPACE/upstream/test/distributed/cases -e optimistic 2>&1

      - name: Dump mo-service goroutines
        if: ${{ always() && !cancelled() }}
        run: |
          max_retry=5
          retry=0
          while [ "$(ps -ef | grep 'mo-service' | grep -v "grep" | wc -l)" -gt 0 ]; do
            curl http://localhost:12345/debug/pprof/goroutine\?debug=2 -o ${{ github.workspace }}/workspace/upstream-dump-stacks${retry}.log
            pkill -9 mo-service
            retry=$((retry+1))
            if [ ${retry} -ge ${max_retry} ]; then
              echo 'after retry, still cannot shutdown mo-service'
              exit 1
            fi
            sleep 2
          done

      - name: Start the MO of Head Ref
        run: |
          cd $GITHUB_WORKSPACE/workspace
          mv mo-service mo-service-upstream
          mv mo-service.log upstream-mo-service.log
          rm -rf mo-data/etl
          rm -rf etc
          rm -rf optools
          rm -rf lib
          # delete for clear the start finish status of mo
          rm -rf mo-data/local/system_init_completed
          mv $GITHUB_WORKSPACE/head/etc .
          mv $GITHUB_WORKSPACE/head/optools .
          mv $GITHUB_WORKSPACE/head/mo-service .
          if [ -d "$GITHUB_WORKSPACE/head/lib" ]; then
            mv $GITHUB_WORKSPACE/head/lib .
          fi
          echo "==============cn configuration of upstram=============="
          cat ./etc/launch/cn.toml
          echo "==============tn configuration of upstram=============="
          if [[ -f ./etc/launch/dn.toml ]]; then
            cat ./etc/launch/dn.toml     
          else 
            cat ./etc/launch/tn.toml     
          fi
          ./optools/run_bvt.sh $GITHUB_WORKSPACE/workspace launch;
          sleep 60;
      - name: Update BVT SQL Timeout for Head Branch
        run: |
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i "s/socketTimeout:.*/socketTimeout: 300000/g" mo.yml
      - name: Start BVT Test for Head Branch
        id: bvt_on_latest_head_version
        run: |
          export LC_ALL="C.UTF-8"
          locale
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i 's/  port: [0-9]*/  port: 12345/g' mo.yml
          cat mo.yml
          echo "============================="

          ./run.sh -n -g -o -p $GITHUB_WORKSPACE/head/test/distributed/cases -e optimistic 2>&1

      - name: Dump mo-service-new goroutines
        if: ${{ always() && !cancelled() }}
        run: |
          max_retry=5
          retry=0
          while [ "$(ps -ef | grep 'mo-service' | grep -v "grep" | wc -l)" -gt 0 ]; do
            curl http://localhost:12345/debug/pprof/goroutine\?debug=2 -o ${{ github.workspace }}/workspace/new-dump-stacks${retry}.log
            pkill -9 mo-service
            retry=$((retry+1))
            if [ ${retry} -ge ${max_retry} ]; then
              echo 'after retry, still cannot shutdown mo-service'
              exit 1
            fi
            sleep 2
          done

      - name: generate upload files
        if: ${{ always() }}
        continue-on-error: true
        run: |
          mkdir -p ${{ github.workspace }}/upload
          rm -rf ./mo-tester/.git
          rm -rf ./mo-tester/lib
          mv ${{ github.workspace }}/workspace ${{ github.workspace }}/upload/
          mv ${{ github.workspace }}/mo-tester ${{ github.workspace }}/upload/

          #拆分上传
          mkdir -p ${{ github.workspace }}/upload-1
          mkdir -p ${{ github.workspace }}/upload-2

          mv $GITHUB_WORKSPACE/upload/mo-tester/report $GITHUB_WORKSPACE/upload-1/
          mv $GITHUB_WORKSPACE/upload/workspace/mo-service.log $GITHUB_WORKSPACE/upload-1/
          mv $GITHUB_WORKSPACE/upload/workspace/upstream-mo-service.log $GITHUB_WORKSPACE/upload-1/

          mv $GITHUB_WORKSPACE/upload/workspace/mo-service $GITHUB_WORKSPACE/upload-2/
          mv $GITHUB_WORKSPACE/upload/workspace/mo-service-upstream $GITHUB_WORKSPACE/upload-2/
          mv $GITHUB_WORKSPACE/upload/workspace/mo-data $GITHUB_WORKSPACE/upload-2/

      - uses: actions/upload-artifact@v6
        if: ${{ failure() || cancelled()}}
        continue-on-error: true
        with:
          name: Compatibility-Test-Target-on-Linux-x64(LAUNCH)-reports
          path: |
            ${{ github.workspace }}/upload-1
          retention-days: 7

      - uses: actions/upload-artifact@v6
        if: ${{ failure() || cancelled()}}
        continue-on-error: true
        with:
          name: Compatibility-Test-Target-on-Linux-x64(LAUNCH)-mo-data
          path: |
            ${{ github.workspace }}/upload-2
          retention-days: 7

  upgrade-ci-release-linux-amd64:
    environment: ci
    runs-on: ubuntu-22.04
    name: Compatibility Test With Release on Linux/x64(LAUNCH)
    timeout-minutes: 60
    outputs:
      latest-release-tag: ${{ steps.get-latest-release.outputs.tag }}

    steps:
      - name: Checkout Head
        uses: actions/checkout@v6
        with:
          path: ./head
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Get latest release
        id: get-latest-release
        run: |
          LATEST_RELEASE_TAG=("v3.0.4")
          echo "Latest release tag is $LATEST_RELEASE_TAG"
          echo "tag=$LATEST_RELEASE_TAG" >> $GITHUB_OUTPUT

      - name: Checkout Upstream Release
        uses: actions/checkout@v6
        with:
          path: ./upstream
          repository: ${{ inputs.release-repo }}
          # ref: ${{ steps.get-latest-release.outputs.tag }} // restore to this line after new release includes d4051aebd6 - update bvt cases (#23317)
          ref: v3.0.4-hotfix

      - name: Set up Go And Java
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          go-version-file: "${{ github.workspace }}/head/go.mod"

      - name: Add cn.txn for head
        run: |
          cd $GITHUB_WORKSPACE/head
          echo "[cn.txn]" >> ./etc/launch/cn.toml
          echo "  enable-leak-check = 1" >> ./etc/launch/cn.toml
          echo '  max-active-ages = "2m"'>> ./etc/launch/cn.toml

      - name: Build MatrixOne for head
        run: |
          cd $GITHUB_WORKSPACE/head && make clean && make build
          git rev-parse --short HEAD

      - name: Add cn.txn for upstream release
        run: |
          cd $GITHUB_WORKSPACE/upstream
          echo "[cn.txn]" >> ./etc/launch/cn.toml
          echo "  enable-leak-check = 1" >> ./etc/launch/cn.toml
          echo '  max-active-ages = "2m"'>> ./etc/launch/cn.toml

      - name: Build MatrixOne for upstream release
        run: |
          cd $GITHUB_WORKSPACE/upstream && make clean && make build          
          git rev-parse --short HEAD

      - name: Create path for execution
        run: |
          cd $GITHUB_WORKSPACE && mkdir workspace

      - name: Start the MO of Rlease ${{ steps.get-latest-release.outputs.tag }}
        run: |
          cd $GITHUB_WORKSPACE/workspace
          mv $GITHUB_WORKSPACE/upstream/etc .
          mv $GITHUB_WORKSPACE/upstream/mo-service .
          mv $GITHUB_WORKSPACE/upstream/optools .
          if [ -d "$GITHUB_WORKSPACE/upstream/lib" ]; then
            mv $GITHUB_WORKSPACE/upstream/lib .
          fi

          ./optools/run_bvt.sh $GITHUB_WORKSPACE/workspace launch;
          sleep 60;

      - name: Clone test-tool repository
        uses: actions/checkout@v6
        with:
          repository: matrixorigin/mo-tester
          path: ./mo-tester
          ref: 3.0-dev
      - name: Update BVT SQL Timeout for Release ${{ steps.get-latest-release.outputs.tag }}
        run: |
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i "s/socketTimeout:.*/socketTimeout: 300000/g" mo.yml
      - name: Start BVT Test for Release ${{ steps.get-latest-release.outputs.tag }}
        id: bvt_on_latest_main_version
        run: |
          export LC_ALL="C.UTF-8"
          locale
          cd $GITHUB_WORKSPACE/mo-tester
          sed -i 's/  port: [0-9]*/  port: 12345/g' mo.yml
          cat mo.yml
          echo "============================="

          ./run.sh -n -g -o -p $GITHUB_WORKSPACE/upstream/test/distributed/cases -e optimistic 2>&1

      - name: Dump mo-service goroutines
        if: ${{ always() && !cancelled() }}
        run: |
          max_retry=5
          retry=0
          while [ "$(ps -ef | grep 'mo-service' | grep -v "grep" | wc -l)" -gt 0 ]; do
            curl http://localhost:12345/debug/pprof/goroutine\?debug=2 -o ${{ github.workspace }}/workspace/upstream-dump-stacks${retry}.log
            pkill -9 mo-service
            retry=$((retry+1))
            if [ ${retry} -ge ${max_retry} ]; then
              echo 'after retry, still cannot shutdown mo-service'
              exit 1
            fi
            sleep 2
          done

      - name: Start the MO of Head Ref
        run: |
          cd $GITHUB_WORKSPACE/workspace
          mv mo-service mo-service-upstream
          mv mo-service.log upstream-mo-service.log
          rm -rf mo-data/etl
          rm -rf etc
          rm -rf optools
          rm -rf lib
          # delete for clear the start finish status of mo(deprecated after pr #14607)
          rm -rf mo-data/local/system_init_completed

          mv $GITHUB_WORKSPACE/head/etc .
          mv $GITHUB_WORKSPACE/head/optools .
          mv $GITHUB_WORKSPACE/head/mo-service .
          if [ -d "$GITHUB_WORKSPACE/head/lib" ]; then
            mv $GITHUB_WORKSPACE/head/lib .
          fi
          echo "==============cn configuration of upstram=============="
          cat ./etc/launch/cn.toml
          echo "==============tn configuration of upstram=============="
          if [[ -f ./etc/launch/dn.toml ]]; then
            cat ./etc/launch/dn.toml     
          else 
            cat ./etc/launch/tn.toml     
          fi
          ./optools/run_bvt.sh $GITHUB_WORKSPACE/workspace launch;
          sleep 60;
      - name: Clone test-tool repository for Head
        uses: actions/checkout@v6
        with:
          repository: matrixorigin/mo-tester
          path: ./mo-tester-head
          ref: main
      - name: Update BVT SQL Timeout for Head Ref
        run: |
          cd $GITHUB_WORKSPACE/mo-tester-head
          sed -i "s/socketTimeout:.*/socketTimeout: 300000/g" mo.yml
      - name: Start BVT Test for Head Ref
        id: bvt_on_latest_head_version
        run: |
          export LC_ALL="C.UTF-8"
          locale
          cd $GITHUB_WORKSPACE/mo-tester-head
          sed -i 's/  port: [0-9]*/  port: 12345/g' mo.yml
          cat mo.yml
          echo "============================="

          ./run.sh -n -g -o -p $GITHUB_WORKSPACE/head/test/distributed/cases -e optimistic 2>&1

      - name: Dump mo-service-new goroutines
        if: ${{ always() && !cancelled() }}
        run: |
          max_retry=5
          retry=0
          while [ "$(ps -ef | grep 'mo-service' | grep -v "grep" | wc -l)" -gt 0 ]; do
            curl http://localhost:12345/debug/pprof/goroutine\?debug=2 -o ${{ github.workspace }}/workspace/new-dump-stacks${retry}.log
            pkill -9 mo-service
            retry=$((retry+1))
            if [ ${retry} -ge ${max_retry} ]; then
              echo 'after retry, still cannot shutdown mo-service'
              exit 1
            fi
            sleep 2
          done

      - name: generate upload files
        if: ${{ always() }}
        continue-on-error: true
        run: |
          mkdir -p ${{ github.workspace }}/upload
          rm -rf ./mo-tester/.git
          rm -rf ./mo-tester/lib
          rm -rf ./mo-tester-head/.git
          rm -rf ./mo-tester-head/lib
          mv ${{ github.workspace }}/workspace ${{ github.workspace }}/upload/
          mv ${{ github.workspace }}/mo-tester ${{ github.workspace }}/upload/
          mv ${{ github.workspace }}/mo-tester-head ${{ github.workspace }}/upload/

          #拆分上传
          mkdir -p ${{ github.workspace }}/upload-1
          mkdir -p ${{ github.workspace }}/upload-2

          mv $GITHUB_WORKSPACE/upload/mo-tester/report $GITHUB_WORKSPACE/upload-1/
          mv $GITHUB_WORKSPACE/upload/mo-tester-head/report $GITHUB_WORKSPACE/upload-1/ 2>/dev/null || true
          mv $GITHUB_WORKSPACE/upload/workspace/mo-service.log $GITHUB_WORKSPACE/upload-1/
          mv $GITHUB_WORKSPACE/upload/workspace/upstream-mo-service.log $GITHUB_WORKSPACE/upload-1/

          mv $GITHUB_WORKSPACE/upload/workspace/mo-service $GITHUB_WORKSPACE/upload-2/
          mv $GITHUB_WORKSPACE/upload/workspace/mo-service-upstream $GITHUB_WORKSPACE/upload-2/
          mv $GITHUB_WORKSPACE/upload/workspace/mo-data $GITHUB_WORKSPACE/upload-2/

      - uses: actions/upload-artifact@v6
        if: ${{ failure() || cancelled()}}
        continue-on-error: true
        with:
          name: Compatibility-Test-Release-on-Linux-x64(LAUNCH)-reports
          path: |
            ${{ github.workspace }}/upload-1
          retention-days: 7

      - uses: actions/upload-artifact@v6
        if: ${{ failure() || cancelled()}}
        continue-on-error: true
        with:
          name: Compatibility-Test-Release-on-Linux-x64(LAUNCH)-mo-data
          path: |
            ${{ github.workspace }}/upload-2
          retention-days: 7
