name: release

on:
  workflow_call:
    secrets:
      TOKEN_ACTION:
        description: "TOKEN_ACTION"
        required: true
      APPLE_DEVELOPER_CERTIFICATE_P12_BASE64:
        description: "APPLE_DEVELOPER_CERTIFICATE_P12_BASE64"
        required: true
      APPLE_DEVELOPER_CERTIFICATE_PASSWORD:
        description: "APPLE_DEVELOPER_CERTIFICATE_PASSWORD"
        required: true
      AC_PASSWORD:
        description: "AC_PASSWORD"
        required: true
      AC_PROVIDER:
        description: "AC_PROVIDER"
        required: true
      TENCENT_AK:
        description: "TENCENT_AK"
        required: true
      TENCENT_SK:
        description: "TENCENT_SK"
        required: true
      RELEASE_BUCKET:
        description: "RELEASE_BUCKET"
        required: true

jobs:
  linux-amd64-build-job:
    environment: ci
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: true
      - name: Build normal
        run: |
          make build

          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/etc
          mv mo-service mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/

          # copy toml configure file
          mv ./etc/launch mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/etc/
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/etc/
          fi

          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64/pkg/udf/pythonservice/
          fi
          zip -r mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64.zip mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64
      - name: Upload Release normal linux x86_64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64.zip
          asset_content_type: application/zip
      - name: dispatch binary test
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.TOKEN_ACTION }}
          repository: matrixorigin/mo-nightly-regression
          event-type: binary-test
          client-payload: '{"RUNNER": "runner-aron-shpc-1","GIT_WEBSITE": "github","MO_REPO": "${{ github.repository_owner }}","MO_VERSION": "${{ steps.get_release.outputs.tag_name }}","MO_DEPLOY_MODE": "binary","MO_BIN_URL": "https://github.com/${{ github.repository }}/releases/download/${{ steps.get_release.outputs.tag_name }}/mo-${{ steps.get_release.outputs.tag_name }}-linux-x86_64.zip","TEST_LIST": "bvt,tpcc,sysbench,ssb,tpch,customer","BVT_EXCLUDE_CASES": "","CUS_TEST_OPTION": "ddl,insert,query","CUS_DS_LIST": "cmcciot_001,dmt_001,etao_001,unre_004,slooong_003"}'
      - name: Get binary test url
        run: |
          echo "you can find the binary test action on https://github.com/matrixorigin/mo-nightly-regression/actions/workflows/mo-release-test-binary.yaml "
          echo "check in [ J_0. Set variables ]->[ Step_99. Display and output actual variables ] to see if the binary file url is correct"

  linux-arm64-build-job:
    environment: ci
    runs-on: arm64-mo-guangzhou-2xlarge16
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: false
      - name: Build normal
        run: |
          make build

          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/etc
          mv mo-service mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/

          # copy toml configure file
          mv ./etc/launch mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/etc/
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/etc/
          fi

          # copy udf python server
          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64/pkg/udf/pythonservice
          fi
          zip -r mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64.zip mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64

      - name: Upload Release normal linux arm64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-linux-arm64.zip
          asset_content_type: application/zip

  darwin-x86-build-job:
    environment: ci
    runs-on: macos-13
    steps:
      # GitHub Hosted MacOS runner cannot connect to time.apple.com, so use time.windows.com
      - name: Sync System Time
        run: |
          for i in {1..10}; do
            if sudo sntp -sS time.windows.com; then
              exit 0;
            fi
            sleep 1;
          done
          exit 1;
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: true
      - name: Build normal
        run: |
          make build
      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v5
        with:
          # The certificates in a PKCS12 file encoded as a base64 string
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64 }}
          # The password used to import the PKCS12 file.
          p12-password: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD }}

      - name: Clone gon
        uses: actions/checkout@v4
        with:
          fetch-depth: "1"
          repository: matrixorigin/gon
          ref: master
          path: ./gon
      - name: Build gon
        run: |
          cd $GITHUB_WORKSPACE/gon;
          make;
          chmod +x gon;
          echo "$(pwd)" >> $GITHUB_PATH;

      - name: Code signing and app notarization
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
          AC_PROVIDER: ${{ secrets.AC_PROVIDER }}
        run: |
          cd $GITHUB_WORKSPACE
          # sign mo-service
          cp ./optools/sign/gon.json ./gon.json
          gon -log-json ./gon.json
          unzip -d ./mo-macos11 mo-macos11.zip
          cd ./mo-macos11
          spctl -a -vvv -t install mo-service
          codesign --test-requirement="=notarized" -vv mo-service

          # rename filepath
          cd .. && mv ./mo-macos11 mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64
          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64/etc

          # copy toml configure file
          mv etc/launch mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64/etc/
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64/etc/
          fi

          # copy udf python server
          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64/pkg/udf/pythonservice/
          fi

          zip -r mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64.zip mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64

      - name: Upload Release normal darwin x86_64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-darwin-x86_64.zip
          asset_content_type: application/zip

  #if the release for darwin-arm is failed, please contact guguducken to check runner status
  darwin-arm-build-job:
    environment: ci
    runs-on: mac-arm64-mini
    steps:
      - name: Sync system time
        run: |
          for i in {1..10}; do
            if sudo sntp -sS time.apple.com; then
              exit 0;
            fi
            sleep 1;
          done
          exit 1;
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: false
      - name: Check go version
        run: |
          go version
      - name: Build normal
        run: |
          make build
      - name: Remove Code-Signing Certificates
        run: |
          security list-keychains | grep sign | awk 'system("security delete-keychain "$1)'
          security find-identity -p codesigning | grep ID | awk 'NR=1{system("security delete-identity -Z "$2)}'
      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v5
        with:
          # The certificates in a PKCS12 file encoded as a base64 string
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64 }}
          # The password used to import the PKCS12 file.
          p12-password: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD }}
      - name: Code signing and app notarization
        env:
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
          AC_PROVIDER: ${{ secrets.AC_PROVIDER }}
        run: |
          cp ./optools/sign/gon.json ./gon.json
          cat ./gon.json
          gon -log-json ./gon.json
          unzip -d ./mo-macos11 mo-macos11.zip
          cd ./mo-macos11
          spctl -a -vvv -t install mo-service
          codesign --test-requirement="=notarized" -vv mo-service

          # rename filepath
          cd .. && mv ./mo-macos11 mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64
          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64/etc

          # copy toml configure file
          mv etc/launch mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64/etc
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64/etc/
          fi

          # copy udf python server
          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64/pkg/udf/pythonservice/
          fi

          zip -r mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64.zip mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64
      - name: Upload Release normal darwin arm64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-darwin-arm64.zip
          asset_content_type: application/zip
      - name: Remove Code-Signing Certificates
        if: ${{ always() }}
        run: |
          security list-keychains | grep sign | awk 'system("security delete-keychain "$1)'
          security find-identity -p codesigning | grep ID | awk 'NR=1{system("security delete-identity -Z "$2)}'

  musl-x86-build-job:
    environment: ci
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: true
      - name: Build normal
        run: |
          cd $GITHUB_WORKSPACE;
          make musl;
          # copy toml configure file
          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/etc
          mv mo-service mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/

          mv ./etc/launch mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/etc/
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/etc/
          fi
          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64/pkg/udf/pythonservice
          fi
          zip -r mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64.zip mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64
      - name: Upload Release normal musl x86_64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64.zip
          asset_content_type: application/zip
      - name: dispatch binary test
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.TOKEN_ACTION }}
          repository: matrixorigin/mo-nightly-regression
          event-type: binary-test
          client-payload: '{"RUNNER": "runner-aron-shpc-2","GIT_WEBSITE": "github","MO_REPO": "${{ github.repository_owner }}","MO_VERSION": "${{ steps.get_release.outputs.tag_name }}","MO_DEPLOY_MODE": "binary","MO_BIN_URL": "https://github.com/${{ github.repository }}/releases/download/${{ steps.get_release.outputs.tag_name }}/mo-${{ steps.get_release.outputs.tag_name }}-musl-x86_64.zip","TEST_LIST": "bvt,tpcc,sysbench,ssb,tpch,customer","BVT_EXCLUDE_CASES": "","CUS_TEST_OPTION": "ddl,insert,query","CUS_DS_LIST": "cmcciot_001,cmcciot_002,dmt_001,etao_001,etao_002,etao_003,etao_006,extremevision_001,guangheng_001,slooong_001,slooong_002,slooong_003,unre_001,unre_002,unre_003,unre_004,unre_005,unre_006,us_001,worthcloud_001"}'
      - name: Get binary test url
        run: |
          echo "you can find the binary test action on https://github.com/matrixorigin/mo-nightly-regression/actions/workflows/mo-release-test-binary.yaml "
          echo "check in [ J_0. Set variables ]->[ Step_99. Display and output actual variables ] to see if the binary file url is correct"

  musl-arm64-build-job:
    environment: ci
    runs-on: arm64-mo-guangzhou-2xlarge16
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
      - name: Echo some info
        run: |
          echo ${{ steps.get_release.outputs.upload_url }}
          echo ${{ steps.get_release.outputs.tag_name }}
      - name: Set up Go
        uses: matrixorigin/CI/actions/setup-env@main
        with:
          setup-java: false
          setup-cmake: false
      - name: Build normal
        run: |
          cd $GITHUB_WORKSPACE;
          make musl;
          # copy toml configure file
          mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/etc
          mv mo-service mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/

          mv ./etc/launch mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/etc/
          if [ -d "./etc/launch-with-python-udf-server" ]; then
            mv ./etc/launch-with-python-udf-server ./mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/etc/
          fi
          if [ -d "./pkg/udf/pythonservice/pyserver" ]; then
            mkdir -p mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/pkg/udf/pythonservice
            mv ./pkg/udf/pythonservice/pyserver ./mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64/pkg/udf/pythonservice
          fi
          zip -r mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64.zip mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64
      - name: Upload Release normal musl arm64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_ACTION }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64.zip
          asset_name: mo-${{ steps.get_release.outputs.tag_name }}-musl-arm64.zip
          asset_content_type: application/zip
